@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Ant Design button */
.ant-btn:hover {
  background-color: inherit !important; /* Keeps the background same as original */
  border-color: inherit !important;    /* Keeps the border same */
}

.ant-btn[disabled] {
  background-color: inherit !important; /* Keeps the background same as original */
  border-color: inherit !important;    /* Keeps the border same */
  color: inherit !important;           /* Keeps the text color same as original */
}

:where(.css-dev-only-do-not-override-1wwf28x).ant-divider-horizontal.ant-divider-with-text {
  margin: 0 !important;
}